.char {
	width: 225px;
	height: 200px;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 5%;
	margin-bottom: 5%;
	
}
body {
	
background-repeat: no-repeat;


}

.cool {
	background-color: #DBDFC1;
	padding: 20px;
	padding-top: 25px;

}
button {
	margin: 10px;
}

p {
	font-size: 1.3em;
	font-weight: bold;
}
h3 {

	
text-align: center;

}


